@use "../base/base" as *;
@use "../theme/themes";

/// Deals with creating the round portrait which has a shadow that is the image continuing
/// with fading out opacity.
///
/// TODO: create an alpha mask image because the mockup has this shadow only on bottom left,
/// but I don't think it's possible to create that with CSS only (without a lot of code bloat).
///
/// Override the variables on .portrait to get a different size.
//
.portrait
{
	--size       : 15rem;
	--shadow-size: .3rem;

	display : block;
	height  : calc( var(--size) + var(--shadow-size) );
	margin  : 0 auto;
	position: relative;
	width   : calc( var(--size) + var(--shadow-size) );


	.portrait--img
	{
		border-radius: 50%;
		height       : var(--size);
		object-fit   : cover;
		position     : relative;
		width        : var(--size);
	}

	// the shadow
	//
	.portrait--shadow
	{
		background: radial-gradient( circle at center, transparent 0%, transparent 59%, var(--main-bg90) 60%, var(--main-bg) 68% );
		height    : calc( var(--size) + var(--shadow-size) );
		left      : -.05rem; /* Prevents a dark line right at the edge of the shadow */
		position  : absolute;
		top       : -.05rem;
		width     : calc( var(--size) + var(--shadow-size) );
		z-index   : 1;
	}
}

@media( min-width: $three-columns )
{
	.profile-heading .portrait .portrait--shadow
	{
		background: radial-gradient( circle at center, transparent 0%, transparent 59%, var(--alt-txt90) 60%, var(--alt-txt) 68% );

	}
}

