@use "../base/base" as *;
@use "../component/tags";
@use "../component/portrait";


.profile-heading
{
	.profile--align
	{
		align-items: flex-end;
		display    : flex;
		flex-wrap  : nowrap;
	}


	p
	{
		margin: .5rem;
	}


	.name
	{
		color      : var( --secondary );
		font-size  : 2.2rem;
		font-weight: normal;
		margin     : 0;
	}


	.location
	{
		color    : var( --primary );
		font-size: .8rem;
		margin   : 0;
	}


	.tagline
	{
		font-size: .8rem;
		margin   : .3rem 0 0;
		color    : var( --alt-bg );
	}


	.price
	{
		color    : var( --price );
		font-size: .8rem;
	}


	.tags
	{
		font-size      : .8rem;
		justify-content: start;
		margin-top     : .4rem;
	}


	.portrait
	{
		--size       : 7rem;
		--shadow-size: .2rem;

		float: right;
	}


	#button--contact
	{
		background   : var( --primary );
		border       : none;
		border-radius: .3rem;
		color        : var( --alt-txt );
		font-size    : .8rem;
		font-weight  : bold;
		padding      : .5rem 1rem;
		cursor       : pointer;
		white-space  : nowrap;

		// The shadow of the portrait uses z-index, and on small phones it can overlap with the button.
		//
		z-index: 10;
	}
}


.body__contact #button--contact
{
	display: none;
}


@media( min-width: $iphone )
{
	.profile-heading
	{
		#button--contact
		{
			font-size: 1.1rem;
		}
	}
}



@media( min-width: $three-columns ) // roughly 1200px
{
	.profile-heading
	{
		background-color: var( --alt-txt );
		padding         : 2.5rem;
		padding-top     : 1rem;

		.portrait
		{
			--shadow-size: .25rem;
			--size       : 15rem;
		}


		.name
		{
			display      : inline-block;
			font-size    : 4rem;
		}

		.location
		{
			font-size    : 1.5rem;
			margin-bottom: 1.5rem;
		}

		.tagline
		{
			font-size: 1.1rem;
		}

		.tags
		{
			font-size  : 1rem;
			font-weight: bold;
		}


		.name--container
		{
			align-items  : start;
			display      : flex;
			margin-bottom: .5rem;
		}


		#button--contact
		{
			border-radius: .4rem;
			font-size    : 1.2rem;
			font-weight  : bold;
			padding      : 1.5rem .75rem;
			display      : inline-block;
			margin-left  : 5rem;


			&:hover, &:focus
			{
				background: var( --color-bg     );
				color     : var( --text-primary );
			}
		}

	}


	.logo
	{
		width: 18rem;
	}
}
