@use "../base/base" as *;
@use "../component/tags";
@use "../component/portrait";

.profile-summary
{
	text-align: center;
	font-size: .6rem;


	a
	{
		position: relative;

		&::after
		{
			left: -1rem;
			top: -.8rem;
		}
	}


	p
	{
		margin: .3rem;
	}


	.name
	{
		color      : var( --secondary );
		font-size  : 2.2rem;
		font-weight: normal;
		margin     : 0;
	}


	.location
	{
		color: var( --primary );
		font-size: .8rem;
	}


	.price
	{
		color: var( --price );
	}


	.tags
	{
		justify-content: center;
	}
}


@media( min-width: $three-columns )
{
	.profile-summary
	{
		.portrait
		{
			--size: 15rem;
			--shadow-size: .25rem;
		}


		.name
		{
			font-size: 2.2rem;
		}


		.location
		{
			font-size: .9rem;
		}


		  .tagline
		, .price
		{
			font-size: .6rem;
		}
	}
}
