/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*:focus,
button:focus,
li[aria-selected=true] {
  outline: none;
  position: relative;
}
*:focus::after,
button:focus::after,
li[aria-selected=true]::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid var(--alt-bg);
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  z-index: 50;
}

input:focus,
textarea:focus {
  outline: 3px solid var(--accent);
}

body {
  font-family: DMSans;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.theme-light {
  --alt-bg: #525252;
  --alt-txt: #fafafa;
  --alt-txt90: rgba( 250, 250, 250, .9);
  --border: #c4c4c4;
  --color-bg: #db8876;
  --main-bg: white;
  --main-bg90: rgba(255, 255, 255, .9);
  --overlay: grey;
  --price: #757575;
  --primary: #901c1c;
  --secondary: #d3573c;
  --accent: #76dbbe;
  --contact-close: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(78deg) brightness(108%) contrast(107%);
  --heart-color: invert(14%) sepia(98%) saturate(1883%) hue-rotate(346deg) brightness(103%) contrast(93%);
}

/*
 * Theme support is provided through CSS variables. To add a theme:
 * 1. Copy _theme-light.scss and rename it.
 * 2. Modify the class name and color values.
 * 3. Add a @use statement for it below.
 * 4. Modify the class on the body in html pages.
 */
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: normal;
  src: url("../theme/font/DM_Sans/DMSans-Regular.ttf");
}
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: 600;
  src: url("../theme/font/DM_Sans/DMSans-Medium.ttf");
}
@font-face {
  font-family: DMSans;
  font-style: normal;
  font-weight: bold;
  src: url("../theme/font/DM_Sans/DMSans-Bold.ttf");
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.7rem;
}
.tags .tag {
  border: 1px solid var(--border);
  border-radius: 0.8em;
  color: var(--primary);
  font-weight: bold;
  padding: 0.2em 0.5em;
  position: relative;
}
.tags .tag:before {
  content: "#";
}
.tags .tag:hover,
.tags .filter__active {
  background: var(--primary);
  color: var(--alt-txt);
  cursor: pointer;
  gap: 0.5rem;
}

@media (min-width: 75rem) {
  .tags {
    font-size: 0.75rem;
  }
}
.portrait {
  --size: 15rem;
  --shadow-size: .3rem;
  display: block;
  height: calc( var(--size) + var(--shadow-size) );
  margin: 0 auto;
  position: relative;
  width: calc( var(--size) + var(--shadow-size) );
}
.portrait .portrait--img {
  border-radius: 50%;
  height: var(--size);
  object-fit: cover;
  position: relative;
  width: var(--size);
}
.portrait .portrait--shadow {
  background: radial-gradient(circle at center, transparent 0%, transparent 59%, var(--main-bg90) 60%, var(--main-bg) 68%);
  height: calc( var(--size) + var(--shadow-size) );
  left: -0.05rem;
  /* Prevents a dark line right at the edge of the shadow */
  position: absolute;
  top: -0.05rem;
  width: calc( var(--size) + var(--shadow-size) );
  z-index: 1;
}

@media (min-width: 75rem) {
  .profile-heading .portrait .portrait--shadow {
    background: radial-gradient(circle at center, transparent 0%, transparent 59%, var(--alt-txt90) 60%, var(--alt-txt) 68%);
  }
}
.profile-heading .profile--align {
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
}
.profile-heading p {
  margin: 0.5rem;
}
.profile-heading .name {
  color: var(--secondary);
  font-size: 2.2rem;
  font-weight: normal;
  margin: 0;
}
.profile-heading .location {
  color: var(--primary);
  font-size: 0.8rem;
  margin: 0;
}
.profile-heading .tagline {
  font-size: 0.8rem;
  margin: 0.3rem 0 0;
  color: var(--alt-bg);
}
.profile-heading .price {
  color: var(--price);
  font-size: 0.8rem;
}
.profile-heading .tags {
  font-size: 0.8rem;
  justify-content: start;
  margin-top: 0.4rem;
}
.profile-heading .portrait {
  --size: 7rem;
  --shadow-size: .2rem;
  float: right;
}
.profile-heading #button--contact {
  background: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: var(--alt-txt);
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  z-index: 10;
}

.body__contact #button--contact {
  display: none;
}

@media (min-width: 22.5rem) {
  .profile-heading #button--contact {
    font-size: 1.1rem;
  }
}
@media (min-width: 75rem) {
  .profile-heading {
    background-color: var(--alt-txt);
    padding: 2.5rem;
    padding-top: 1rem;
  }
  .profile-heading .portrait {
    --shadow-size: .25rem;
    --size: 15rem;
  }
  .profile-heading .name {
    display: inline-block;
    font-size: 4rem;
  }
  .profile-heading .location {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .profile-heading .tagline {
    font-size: 1.1rem;
  }
  .profile-heading .tags {
    font-size: 1rem;
    font-weight: bold;
  }
  .profile-heading .name--container {
    align-items: start;
    display: flex;
    margin-bottom: 0.5rem;
  }
  .profile-heading #button--contact {
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.5rem 0.75rem;
    display: inline-block;
    margin-left: 5rem;
  }
  .profile-heading #button--contact:hover, .profile-heading #button--contact:focus {
    background: var(--color-bg);
    color: var(--text-primary);
  }

  .logo {
    width: 18rem;
  }
}
.thumb {
  margin: 0.8rem 0 0;
}
.thumb picture {
  position: relative;
  height: 12rem;
  display: block;
}
.thumb .media-content {
  height: 12rem;
  border-radius: 0.3rem;
  object-fit: cover;
  object-position: 50% 35%;
  width: 100%;
  cursor: pointer;
}
.thumb > figcaption {
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.thumb .likes {
  white-space: nowrap;
}
.thumb .heart {
  cursor: pointer;
  position: relative;
  width: 0.8rem;
  margin-left: 0.2rem;
  display: inline-block;
}
.thumb .heart img {
  filter: var(--heart-color);
}

.carousel {
  --button-size: .7rem;
  --button-size_2: calc( var(--button-size) *2 );
  --button-size_3: calc( var(--button-size) *3 );
  margin: auto;
  display: grid;
  grid: "...                    media                  close" 45fr "prev                   media                  next " 55fr/var(--button-size_3) var(--carousel-width) var(--button-size_3);
}
.carousel button {
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  max-width: var(--button-size_3);
  position: relative;
}
.carousel button::after {
  top: 0;
  left: 0.5rem;
}
.carousel button > img {
  width: var(--button-size);
}
.carousel .prev {
  grid-area: prev;
  align-self: start;
}
.carousel .prev > img {
  transform: rotate(180deg);
}
.carousel .next {
  grid-area: next;
  align-self: start;
}
.carousel .close {
  grid-area: close;
  align-self: start;
}
.carousel .close > img {
  width: calc( var( --button-size ) * 1.3 );
}
.carousel > figure {
  grid-area: media;
  margin: 0;
  width: 100%;
}
.carousel > figure > .media-content {
  width: var(--carousel-width);
  object-fit: contain;
}
.carousel > figure > figcaption {
  color: var(--primary);
  padding-top: 0.5rem;
}

@media (min-width: 75rem) {
  .gallery {
    margin-bottom: 4rem;
  }

  .gallery--content {
    display: grid;
    row-gap: 2.5rem;
    column-gap: min(6.6vw, 8rem);
    grid-template-columns: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
  }
  .gallery--content .thumb {
    margin: 0;
  }
  .gallery--content .thumb picture, .gallery--content .thumb .media-content {
    height: min(20vw, 24rem);
    border-radius: 0.4rem;
  }
  .gallery--content .thumb > figcaption {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .gallery--content .thumb > figcaption .heart {
    width: 1rem;
  }

  .carousel {
    --button-size: 2rem;
    --button-size_2: calc( var(--button-size) *1.3 );
  }
  .carousel figcaption {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}
.body__contact {
  overflow: hidden;
}
.body__contact #contact--form {
  display: flex;
}
.body__contact #overlay {
  background: var(--overlay);
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 19;
}

#overlay {
  display: none;
}

#contact--form {
  background-color: var(--color-bg);
  display: none;
  flex-direction: column;
  height: 100vh;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
  overflow: scroll;
  font-size: 1.5rem;
}
#contact--form label {
  display: block;
  margin-bottom: 0.5rem;
}
#contact--form > input,
#contact--form > textarea {
  position: relative;
  padding: 0.7rem;
}
#contact--form > #contact--close {
  background: none;
  border: none;
  color: var(--alt-txt);
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  cursor: pointer;
}
#contact--form > #contact--close > img {
  filter: var(--contact-close);
  width: 1.2rem;
}
#contact--form > h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin: 0.2rem 1rem 0 0;
}
#contact--form #contact--name {
  margin-bottom: 2rem;
}
#contact--form > input {
  border: none;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  width: 100%;
}
#contact--form > textarea {
  border: none;
  border-radius: 0.3rem;
  flex-grow: 1;
  resize: none;
  width: 100%;
  min-height: 4rem;
}
#contact--form #contact--submit {
  background: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: var(--alt-txt);
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 3rem;
  width: initial;
  margin: 1.5rem auto;
}

@media (min-width: 75rem) {
  #contact--form {
    border-radius: 0.4rem;
    font-size: 2.2rem;
    left: 50%;
    max-width: 42rem;
    overflow: auto;
    padding: 1.2rem 2rem;
    position: fixed;
    transform: translateX(-50%);
    top: 5vh;
    bottom: 5vh;
    height: auto;
  }
  #contact--form > #contact--close {
    padding: 1rem;
  }
  #contact--form > #contact--close > img {
    width: 2.5rem;
  }
  #contact--form h1 {
    font-size: 4rem;
    margin-top: 0;
  }
  #contact--form #contact--name {
    margin-bottom: 1.5rem;
  }
  #contact--form label {
    margin: 0;
  }
  #contact--form input, #contact--form textarea {
    padding: 1.2rem;
    margin-bottom: 0.6rem;
  }
  #contact--form textarea {
    min-height: 7rem;
  }
  #contact--form #contact--submit {
    border-radius: 0.3rem;
    font-size: 1.2rem;
    margin: 2rem 0;
    padding: 1.5rem;
    width: 10rem;
  }
}
#sort {
  --left: 7rem;
  --top: -1rem;
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 4rem;
  padding: 0;
  white-space: nowrap;
  position: relative;
}

#sort--button {
  display: block;
  font-weight: bold;
  position: absolute;
  border: none;
  padding: 1.5rem 1.5rem;
  text-align: left;
}

#sort--button:before,
#sort--listbox > li:first-child:before {
  border: 0.245rem solid var(--alt-txt);
  border-bottom: none;
  border-left: none;
  content: " ";
  display: inline-block;
  height: 0.6rem;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  transform: rotate(135deg);
  width: 0.6rem;
}

#sort--listbox > li:first-child:before {
  transform: rotate(-45deg);
  top: 1.3rem;
  right: 0.9rem;
}

#sort--listbox,
#sort--button {
  background-color: var(--primary);
  border-radius: 0.4rem;
  color: var(--alt-txt);
  width: 11rem;
  position: absolute;
  top: var(--top);
  left: var(--left);
}

#sort--listbox {
  box-shadow: 0px 6px 18px -14px #000000;
  cursor: pointer;
  list-style: none;
  user-select: none;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 0.6rem;
}
#sort--listbox > li {
  border-top: 1px solid var(--alt-txt);
  display: none;
  padding: 0.9rem;
  position: relative;
}
#sort--listbox > li:first-child {
  border: none;
}
#sort--listbox > li:after {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.dropdown__open #sort--listbox > li {
  display: block;
}

.dropdown__open #sort--button {
  display: none;
}
.dropdown__open #sort--listbox {
  display: block;
}
.dropdown__open #sort--button:before {
  top: 1.8rem;
  transform: rotate(-45deg);
}

@media (min-width: 75rem) {
  #sort {
    display: block;
  }
}
/*
	CSS style for FishEye. Openclassrooms course Front-End Developer, project 6.
	Written by Tycho Dekie ( oo <on> mailoo.org ).

	License: Unlicense (https://unlicense.org/);

	Doesn't validate in the W3C validator because the validator is outdated:
	See https://github.com/w3c/css-validator/issues/111
 */
body {
  --body-padding-hz: 1.2rem;
  --body-padding-vt: 2.2rem;
  display: grid;
  padding: var(--body-padding-vt) var(--body-padding-hz);
  grid: "logo" "heading" "cards"/minmax(0, 1fr);
  grid-auto-flow: row;
}

#likes-price {
  display: none;
}

.body__carousel {
  align-items: center;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}
.body__carousel header, .body__carousel .profile-heading,
.body__carousel .gallery {
  display: none;
}
.body__carousel .carousel {
  display: grid;
  max-height: 100vh;
  max-width: 100vw;
}
.body__carousel #likes-price {
  display: none;
}

.carousel {
  display: none;
}

header,
main {
  display: contents;
}

.logo {
  position: relative;
  width: 10rem;
}
.logo > img {
  grid-area: logo;
  width: 10rem;
}

.profile-heading {
  grid-area: heading;
  margin: 1rem 0 2rem;
}
.profile-heading .portrait {
  margin-right: calc( 0rem - 2* var(--shadow-size) );
}
.profile-heading #button--contact {
  bottom: 2rem;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
}

@media (min-width: 75rem) {
  body {
    max-width: min(100vw, 120rem);
    margin: 0 auto;
    --body-padding-hz: min( 6.6vw, 6rem );
    --body-padding-vt: 2.5rem;
  }

  .body__carousel {
    max-height: 100vh;
  }

  #likes-price {
    background-color: var(--color-bg);
    border-radius: 0.3rem 0.3rem 0 0;
    bottom: 0;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    position: fixed;
    right: 2rem;
    z-index: 50;
  }
  #likes-price .likes {
    margin-right: 2rem;
  }
  #likes-price .likes img {
    margin-left: 0.5rem;
    width: 1.1rem;
  }

  .logo > img {
    width: 13rem;
  }

  .profile-heading {
    margin-top: 2rem;
  }
  .profile-heading #button--contact {
    bottom: unset;
    left: unset;
    position: relative;
    transform: unset;
  }
  .profile-heading .profile--align {
    align-items: center;
  }
}
